{% extends "layout.html"%}
{%block js%}
<script type="text/javascript" src="{{url_for('static', filename='js/check_available.js')}}"></script>
<script type="text/javascript">
var api_url = "{{url_for('check_available')}}"
</script>
{%endblock%}

{%block content%}
<div class='container' align='center'>
	{% for category, message in get_flashed_messages(with_categories=true) %}
	<div class='row'>
		<div class='col-12'>
			<div class='alert alert-{{category}}' role='alert'>
				{{message}}
			</div>
		</div>
	</div>
	{%endfor%}
	<div class='row'>
		<div class='col-12'>
			<form method='POST' action="{{url_for('short')}}" class='mb-5 p-3 bg-white rounded'>
				<div class='form-group'>
					<div class='input-group mb-3'>
						<input type='text' class='form-control' id='long_url' name='long_url' placeholder="Your Longggg URL"  onkeyup="check_valid_url()" required>	
						<div class='valid-feedback'>
							You've entered a valid URL. Well Done!
						</div>
						<div class='invalid-feedback'>
							You've entered an invalid URL.. (Make sure to add 'http(s)//:')
						</div>
					</div>
				</div>
				<div class='form-group'>
					<div class='input-group'>
						<div class="input-group-prepend">
							<span class="input-group-text">goo/</span>
						</div>
						<input type='text' class='form-control' id='custom_url' name="custom_url" placeholder="Your Desired URL" onkeyup="check_available(api_url)" disabled>
						<div class='invalid-feedback'>
							Shortend URL is allready taken :(. Please try something else, or leave empty.
						</div>
						<div class='valid-feedback'>
							This shortend URL is available for your use, and not taken. Yay!
						</div>
					</div>
					<small class='form-text text-left font-weight-bold'>Optional. Leave empty for a randomly generated short URL</small>
				</div>
				<input class='btn btn-danger' id='submit' type='submit' value='Short!'/>
			</form>
		</div>
	</div>
	<div class='row'>
		<div class="col-12">
		{% if mappings|count > 0 %}
			<table class='table table-hover table-bordered border-dark rounded table-striped table-light'>
				<tr>
					<th>
						Short URL
					</th>
					<th>
						Long URL
					</th>
					<th>
						Creation Time
					</th>
					<th>
						Delete
					</th>
				</tr>
				{% for mapping in mappings %}
					<tr>
						<td>
							<a href="{{url_for('redirect_to_long', short_url=mapping.short_url)}}" class='text-danger'>goo/{{mapping.short_url}}</a>
						</td>
						<td>
							{{mapping.long_url}}
						</td>
						<td>
							{{mapping.creation_time}}
						</td>
						<td>
							<form action="{{url_for('remove')}}" method="POST" class='mb-0'>
								<button type='submit' value='{{mapping.short_url}}' method='post' class='btn btn-danger' name='delete'>Delete</button> 
							</form>
						</td>
					</tr>
				{%endfor%}
			</table>
		{% else %}
			<h5 class='display-5 text-bold text-light'>
				You Dont have any shortened URLs. Create your first one now!
			</h5>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}
